.vscode

*.env
*.pytest_cache
__pycache__


logs/
db.sqlite3
htmlcov
.idea
.coverage

# frotend

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
frontend/b2c-app/public/home/typescript-cheat-sheets.zip
frontend/b2c-app/public/home/پروژه کارشناسی و دیاگرام ها و گزارشات مربوطه/گزارش پروژه کارشناسی.docx
frontend/b2c-app/public/home/Project and diagrams.rar
frontend/b2c-app/public/home/پروژه کارشناسی و دیاگرام ها و گزارشات مربوطه/دیاگرام و شکل ها/b2c-final-ERD.mwb
frontend/b2c-app/public/home/پروژه کارشناسی و دیاگرام ها و گزارشات مربوطه/دیاگرام و شکل ها/Order Processing Flowchart.pdf
frontend/b2c-app/public/home/پروژه کارشناسی و دیاگرام ها و گزارشات مربوطه/دیاگرام و شکل ها/UML use case B2C.pdf
frontend/b2c-app/public/home/پروژه کارشناسی و دیاگرام ها و گزارشات مربوطه/دیاگرام و شکل ها/First ERD implementation.pdf
frontend/b2c-app/public/home/پروژه کارشناسی و دیاگرام ها و گزارشات مربوطه.rar
